.bg-box {
  height: 500px;
  width: 750px;
  background-image: url("images/Warcraft3Logo.jpg");
  background-size: cover;
  background-position: center;
}

.bg-box::after {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  background-image: url("/images/AmongUsLogo.png"),
    url("/images/DarkSoulsAvatar.jpg"), url("/images/elden-ring-logo.jpg"),
    url("/images/MinecraftLogo.png");
  background-position: top left, top right, bottom right, bottom left;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: auto 30px, 30px auto, auto 30px, 30px auto;
}
